:root {
    /*font*/
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /*text-colors*/
    --secondary-txt-cl: #212121;
    --main-txt-cl: #757575;
    --accent-txt-cl: #FFFF;
    --logo-cl: #000000;
    --accent-cl: #2196F3;
    --transparent-cl:rgba(255, 255, 255, 0.6);

    /*background-colors*/
    --main-bg-cl: #FFFFFF;
    --secondary-bg-cl: #F5F4FA;
    --dark-bg-cl: #2F303A;
    --btn-bg: #188CE8;
    --grey-bg-cl: #E5E5E5;

}

body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    outline: 1px solid red;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
h1,h2,h3 {
    margin: 0;
}
img{
    display: block;
}
.section {
       padding-bottom: 94px;
}


.link {
    text-decoration: none;
    color: currentColor;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
    /*logo*/
.accent {
    color: var(--accent-cl);
}
/*
============================
| Header section
============================
*/

/*Logo*/

.header .container {
    display: flex;
    align-items: center;
}

.header .logo,.footer .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: var(--logo-cl);
}
.header .logo {
    margin-right: 93px;
}

    /*Navigation*/

.nav .list{
    display: flex;
    align-items: center;
}

.nav .item{
    margin-right: 50px;

    color: var(--secondary-txt-cl);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.nav .item:last-child {
    margin-right: 0;
}

.nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header .contact {
    margin-left: auto;   
}

.contact .list{
    display: flex;
    align-items: center;
}

.contact .item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact .item:first-child {
    margin-right: 50px;
}

.contact .link {
padding-top: 32px;
padding-bottom: 32px;
}

.nav .link:hover,
.nav .link:focus,
.contact .link:hover,
.contact .link:focus
 {
color: var(--accent-cl);
}

.nav .link:current,
.contact .link:current {
    color: var(--accent-cl);
}
/*
============================
| Hero section
============================
*/
.hero {
    background-color: var(--dark-bg-cl);
    
    
}

.hero .container{
    margin-bottom: 94px;
    height: 600px;
    padding-top: ;
    height: ;
    padding-right: ;
    padding-left: ;
}

.hero .title { 
    padding-top: 200px;
    padding-bottom: 30px;
    padding-right: 252px;
    padding-left: 252px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: var(--accent-txt-cl);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn {
font-family: inherit;
text-align: center;
align-items: center;
cursor: pointer;
color: var(--secondary-txt-cl);
}
.hero .btn {
display: block;
margin-top: 0;
margin-right: auto;
margin-left: auto;
padding: 10px 32px;

background-color: var(--accent-cl);
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--accent-txt-cl);
border: 1px solid var(--btn-bg);
border-radius: 4px;
}

.filter .btn {
background-color: var(--secondary-bg-cl);
font-weight: 500;
font-size: 16px;
line-height: 1.62;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

color: #212121;

}


.filter .btn:hover,
.filter .btn:focus {
    color: var(--accent-txt-cl);
    background-color: var(--accent-cl);
}

.hero .btn:hover,
.hero .btn:focus {
    color: var(--accent-txt-cl);
    background-color: var(--btn-bg);
}

/*
============================
| Feature section
============================
*/
.feature, .list{
    display: flex;
   
    
}

.feature .item {
    margin-right: 30px;
    width: 270px;
    height: 101px;

}

.feature .item:last-child {
    margin-right: 0;

}
.feature .title {
color: var(--secondary-txt-cl);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

/*
============================
| Gallery work section
============================
*/
.section-title {
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-txt-cl);
}

.gallery .item {
    margin-right: 30px;
}

.gallery .item:last-child {
    margin-right: 0;
}

/*
============================
| Team section
============================
*/
.team {
background-color: var(--secondary-bg-cl);
}

.team img{
    padding-bottom: 30px;
}

.team .item {
margin-right: 30px;
}

.team .item:last-child {
    margin-right: 0;
}

.team .title {
padding-bottom: 10px;
color: var(--secondary-txt-cl);
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;

}
.team .text {
margin-top: 0;
padding-bottom: 30px;
text-align: center;

font-size: 16px;
line-height: 1.19;
}
/*
============================
| Portfolio page
============================
*/
/*Portfolio filter button*/

/*Ourwork*/
.filter{
    list-style: none;
    padding-bottom: 34px;
    margin: 0;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.filter .btn {
    padding: 6px 22px;
    border: none;
    margin-right: 8px;
}

.filter .btn:last-child {
    margin-right: 0;}

.works {
    background-color: var(--grey-bg-cl);
}

.works .title {
    color: var(--secondary-txt-cl);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.works .text {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height:1.88;
}
.work {
    display: flex;
    flex-wrap: wrap;

}
.work .item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    }

.work .item:nth-child(3n){
margin-right: 0;
}
 
.work .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}



/*
============================
| Footer section
============================
*/
.footer{
    background-color: var(--dark-bg-cl);
    color: var(--accent-txt-cl);
    
margin-bottom: 0;
    
   }

.footer .container {
    
padding-top: 60px;
padding-bottom: 60px;

}
.footer .list{

display: block;
}
.footer .logo {
color: var(--accent-txt-cl);
}
.logoaccent{
color: var(--accent-cl)
}
.footer .link {
color: var(--transparent-cl);
}
.footer .link:hover,
.footer .link:focus {
    color: var(--accent-cl);}

